<div class="modal-dialog">

  <div class="modal-content">
    
    <%= form_for @project, remote: true do |f| %>
      <div class="modal-body">
        
        <% if @project.errors.any? %>
          <div class="alert alert-danger form-group" role="alert">
            <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group form-inline">
          
          <%= f.text_field 'name', {class: "form-control", placeholder: 'project name'}%>
          
        </div>
        
      </div>
      
      <div class="modal-footer">
        <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>