<h1>Add Tag</h1>

<div class="spec-data">
    <%= render partial: "specs/data", object: @spec, as: :spec %>
</div>

<%= form_for(Tag.new, :action => 'create' ) do |f| %>

    <p><%= f.collection_select :tag_type_id, @tag_types, :id, :name %></p>
    
    <%= f.hidden_field :spec_id, value: @spec.id %>
    
<%= f.submit "tag spec" %>

<% end -%>

<%= link_to 'Back', {:controller => 'specs', :action => 'index'} %>