<div class="btn-toolbar">
    <span class="btn-group btn-group-xs" role="group">
        <%= link_to '+ tag', 
                    new_tag_path(:id => spec.id), 
                    remote:true, 
                    class: "btn btn-default" %>
        
        <%= link_to '+ ticket', 
                    new_ticket_path(:id => spec.id), 
                    remote: true,
                    class: "btn btn-default" %>     
        
              
        <% if !spec.bottom? %>
            <%= link_to '+ children', 
                        mass_add_view_specs_path(:id =>spec.id),
                        remote:true,
                        class: "btn btn-default" %>
        <% end %>
        
        <%= link_to '+ parent', 
                    new_spec_path(:id => spec.id), 
                    remote: true,
                    class: "btn btn-default" %>
        
        
    </span>
    <span class="btn-group btn-group-xs" role="group">
        
        <% if spec.can_indent? %>
            <%= link_to '', 
                        spec_indent_url(  :spec_id =>spec.id),
                        method: :post,
                        remote:true,
                        class: "indent_spec btn btn-default glyphicon glyphicon-indent-left" %>
        <% end %>
        <% if !spec.root? %>
            <%= link_to '', 
                    spec_dedent_url(  :spec_id =>spec.id),
                    method: :post,
                    remote:true,
                    class: "indent_spec btn btn-default glyphicon glyphicon-indent-right" %>
        <% end %>
        <%= link_to '', 
                    edit_spec_path(spec), 
                    remote:true, 
                    class: "btn btn-default glyphicon glyphicon-pencil" %>
        <%= link_to '', 
                    spec_delete_path(spec),
                    class: "delete_spec btn btn-default glyphicon glyphicon-trash",
                    :remote => true %>
    </span>
</div>