<div class="btn-toolbar">
    <span class="btn-group btn-group-xs" role="group">
        <%= link_to '+ tag', 
                    new_tag_path(:id => spec.id), 
                    remote:true, 
                    class: "btn btn-default" %>
        
        <%= link_to '+ ticket', 
                    new_ticket_path(:id => spec.id), 
                    remote: true,
                    class: "btn btn-default" %>     
        
              
        <% if !spec.bottom? %>
            <%= link_to '+ child', 
                        new_spec_path(  :id =>spec.id, 
                                        :add_child => true),
                        remote:true,
                        class: "btn btn-default" %>
        <% end %>
        
        <%= link_to '+ parent', 
                    new_spec_path(:id => spec.id), 
                    remote: true,
                    class: "btn btn-default" %>
        
        
    </span>
    <span class="btn-group btn-group-xs" role="group">
        <%= link_to '', 
                    edit_spec_path(spec), 
                    remote:true, 
                    class: "btn btn-default glyphicon glyphicon-pencil" %>
        <%= link_to '', spec, 
                    method: :delete,
                    class: "delete_spec btn btn-default glyphicon glyphicon-trash",
                    :remote => true %>
    </span>
</div>