<div class="modal-dialog">
  <div class="modal-content">
    <!--<div class="modal-header">-->
    <!--  <h4 class="modal-title">add new top-level spec</h4>-->
    <!--</div>-->
    <%= form_for @spec, remote: true do |f| %>
      <div class="modal-body">
        
        <% if @spec.errors.any? %>
          <div class="alert alert-danger form-group" role="alert">
            <ul>
            <% @spec.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <% if @parent.nil? && @child.nil? && new_spec %>
          <div class="form-group">
            
            <%= f.collection_select :project_id, 
                                    @projects, 
                                    :id, 
                                    :name, {},
                                    {class: "form-control"} %>
          </div>
        <% elsif @parent.present? %>
          <div class="well">
            <%= render partial: "data", object: @parent, as: :spec %>
          </div>
        <% end %>
        <div class="form-group form-inline" }>
          <%= f.collection_select :spec_type_id, 
                                  @spec_types, 
                                  :id, 
                                  :name, {},
                                  {class: "form-control"} %>
       
          <%= f.text_field 'description', {class: "form-control", style:"width:80%"} %>
        </div>
        
        <% if !@parent.nil? %>
            <%= f.hidden_field :parent_id, value: @parent.id %>
            <%= fields_for :spec, @spec do |p| %>
              <%= p.hidden_field :project_id, value: @parent.project.id %>
            <% end %>
        <% end %>
        <% if !@child.nil? %>
            <%= f.hidden_field :child_id, value: @child.id %>
            <%= fields_for :spec, @spec do |p| %>
              <%= p.hidden_field :project_id, value: @child.project.id %>
            <% end %>
        <% end %>
        
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary", id: "submit" %>
        <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>