<%= javascript_include_tag "editable" %></script>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <h2>Jessdocs 2.0</h2>
    </div>
    <div class="container-fluid">
        
        <div class="btn-toolbar">
            <div class="btn-group">
                <%= link_to "add new top-level spec", 
                            new_spec_path, 
                            remote: true, 
                            class: "btn btn-default" %>
                <%= link_to "mass add specs", 
                            mass_add_view_specs_path,
                            remote:true,
                            class: "btn btn-default" %>
                <button type="button" 
                        class="btn btn-default"
                        data-toggle="collapse"
                        data-target=".editable"
                        onclick="toggleTagEdit()">
                     edit specs
                </button>

            </div>
            <div class="btn-group">
                <%= link_to "add new tag type", 
                            new_tag_type_path,
                            remote: true,
                            class: "btn btn-default" %>
                <%= link_to "edit tag types", 
                            tag_types_path,
                            remote: true,
                            class: "btn btn-default"%>
            </div>
        </div>
        <div>
            <%= form_tag '', 
                        :method => :get,
                        :class => 'form-inline tag-select' do %>
                <label for = "@spec_tag_type_id">Filter by tag name</label>:
                <%= collection_select(  :tags, 
                                        :tag_type_id, 
                                        @tag_types, 
                                        :id, 
                                        :name, 
                                        {:selected => @selected_tag_type_id, 
                                        :include_blank => 'all tags'},
                                        {:onchange=> 'submit()',
                                        class: "form-control"}) %>
                
            <% end %>
        </div>
        <div>
            
            <%= form_tag filter_project_specs_path, method: :get, class: "form-inline", remote: true do %>
                <label for = "@spec_tag_type_id">Filter by project</label>:
                <%= collection_select(  :projects, 
                                        :project_id, 
                                        @projects, 
                                        :id, 
                                        :name, 
                                        {:selected => @selected_project_id},
                                        {class: "form-control",
                                        id: "project-select"}) %>
                    <%= button_tag('submit') %>
            <%end%>
        </div>
        
        <div>
            <%= form_tag filter_tag_specs_path, method: :get, class: "form-inline", remote: true do %>
                <% @tag_types.each do |tag_type| %>
                    <label>
                        <%= tag_type.name %>
                    <%= check_box_tag tag_type.name, tag_type.name, false, class: "form-control, checkbox-inline" %>
                    </label>
                <% end %>
                <%= button_tag('submit', id: 'project-submit') %>
            <% end %>
        </div>
    </div>
</nav>