<nav class="navbar navbar-default">
    <div class="navbar-header">
        <span class="navbar-brand">jessdocs 2.0</span>
    </div>
    <div class="container-fluid">
        
        <div class="pull-right navbar-btn">
            <% if user_signed_in? %>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <%= current_user.email %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <% if current_user.admin? %>
                        <li class="dropdown-header">admin stuff</li>
                        <li><%= link_to('manage users', users_path, remote: true) %></li>
                        <li><%= link_to "add project", 
                                    new_project_path,
                                    remote: true %></li>
                        <li role="separator" class="divider"></li>
                    <% end %>
                    <li><%= link_to('log out', destroy_user_session_path, :method => :delete) %></li>
                    
                  </ul>
                </div>
            <% end %>
            
        
        </div>
        
        
        
    </div>
    <div class="container-fluid">
        <div class="filterspecs navbar-btn">
            
            <%= render partial: "tag_types/filter", object: @tag_types, as: :tag_types %>
        </div>
    </div>
</nav>