<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">mass-add specs</h4>
    </div>
    <%= form_tag('/specs/mass_add', method:'post', remote:true) do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>
        
    
        
        <div class="form-group">
          
          <div id="helpBlock" class="help-block">
            Enter multiple specs at a time. Each line denotes a new spec. Nest specs 
            either by using tabs or -'s. Specs that start with 'should' are assumed
            to be it blocks and all others are assumed to be describe blocks</div>
            <div class="panel panel-default">
              <div class="panel-heading">example</div>
              <div class="panel-body">
                someone really cool<br />
                -should be jess <br />
                --level 3 <br />
                back to level 1
              </div>
            </div>
          
          
        <% if @parent.nil? %>
          <div class="form-group">
             <%= collection_select( :project, 
                                    :id, 
                                    @projects, 
                                    :id, 
                                    :name, 
                                    {},
                                    { class: "form-control"}) %>
          </div>
        <% else %>
          <div class="well">
            <%= render partial: "data", object: @parent, as: :spec %>
          </div>
        <% end %>
          
          
          <%= text_area_tag :text,'', rows: 15, class:"form-control" %>
          
          <% if !@parent.nil? %>
            
            <%= fields_for :project, @spec do |p| %>
              <%= p.hidden_field :parent_id, value: @parent.id %>
              <%= p.hidden_field :id, value: @parent.project.id %>
            <% end %>
          <% end %>
        </div>
        
      </div>
      
      <div class="modal-footer">
        <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        <%= submit_tag('submit', id: 'mass-submit', class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>
</div>