<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">mass-add specs</h4>
    </div>
    <%= form_tag('/specs/mass_add', method:'post', remote:true) do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>
        
        <div class="form-group">
          <%= collection_select(  :project, 
                                  :id, 
                                  @projects, 
                                  :id, 
                                  :name, 
                                  {},
                                  { class: "form-control"}) %>
        </div>
        
        <div class="form-group">
          
          <div id="helpBlock" class="help-block">
            Enter multiple specs at a time. Each line denotes a new spec. Nest specs 
            either by using tabs or -'s. Specs that start with 'should' are assumed
            to be it blocks and all others are assumed to be describe blocks</div>
            <div class="panel panel-default">
              <div class="panel-heading">example</div>
              <div class="panel-body">
                someone really cool<br />
                - should be jess <br />
                -- level 3 <br />
                back to level 1
              </div>
            </div>
          
          <%= text_area_tag :text,'', rows: 15, class:"form-control" %>
          
        </div>
        
      </div>
      <div class="modal-footer">
        <%= submit_tag('submit', id: 'mass-submit', class: "btn btn-primary") %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>