<p id="notice"><%= notice %></p>

<div class="header">
    <%= render partial: "header" %>
</div>

<% if @specs.blank? || (!@filtered_spec_ids.nil? && @filtered_spec_ids.count == 0) %>
<p>There are no specs 

    <% if @selected_tag_type_id && @selected_tag_type_id != "" %>
    with the tag
    
        <span class="tag" style="background-color: <%=TagType.find(@selected_tag_type_id).color %>">
            <%= TagType.find(@selected_tag_type_id).name %> 
        </span>
    
    <% end %>

 currently in the system</p>
<% else %>

<div class="full-spec-list">
    <%= render partial: "container", collection: @specs, as: :spec %>
</div>

<% end %>

<div id="spec-modal" class="modal fade"></div>