<% if @can_view %>
<div class="header">
    <%= render partial: "header" %>
</div>
<p class="notice hidden"><%= notice %></p>
<p class="alert hidden"><%= alert %></p>
<div class="center">
    <div class="sk-wandering-cubes spinner">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-xs-4 col-md-3 col-lg-2 sidebar">
        <% if current_user.can_edit? || @bookmarks.any? %>
            <%= render partial: "sidebarbtns" %>
        <% end %>

    </div>
    
    <div class="full-spec-list col-xs-8 col-md-9 col-lg-10 main">
        
        <% if @specs.blank? || (!@filtered_spec_ids.nil? && @filtered_spec_ids.count == 0) %>
            <p>There are no specs currently in the system</p>
        <% else %>
            <%= render partial: "specs", collection: @specs, as: :spec %>
        <% end %>
    </div>
</div>
<div id="spec-modal" class="modal fade"></div>
<% else %>
<p>this is my crappy 'you don't have access' page</p>
<%= link_to('log out', destroy_user_session_path, :method => :delete) %>
<% end %>