<h1>New Tag Type</h1>

<%= form_for(TagType.new, :action => 'create' ) do |f| %>

<p><%= f.text_field 'name' %></p>
<%= color_field(:tag_type, :color) %>
    
<%= f.submit %>

<% end -%>

<%= link_to 'Back', {:controller => 'specs', :action => 'index'} %>
